<?xml version="1.0" encoding="utf-8"?>
<Content Key="a266098c-bbfe-4eb1-8541-8dffb364281d" Alias="Anasayfa" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Anasayfa</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-02-07T16:18:07</CreateDate>
    <NodeName Default="Anasayfa" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87c9de22-3199-4564-b857-7df77b5dc659">HomePage</Template>
  </Info>
  <Properties>
    <timelineDate>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0687e41fd7b84a548c252021f828bd91",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/12f0acaddec14f4aa72a97af094d1fdf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "85ee0a89-28aa-4abf-a383-635175c4002a",
      "udi": "umb://element/0687e41fd7b84a548c252021f828bd91",
      "year": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/1945959a4aa44d0c8c2d7c62de36809b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/bd7418bd29294499b7985679e90325a9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1540ded3-7a5c-4847-8bc3-0ed3b6036041",
            "udi": "umb://element/1945959a4aa44d0c8c2d7c62de36809b",
            "timelineImage": [
              {
                "key": "68a8c0ef-e805-4dc7-be42-3a34785f62fd",
                "mediaKey": "0d69fc00-b386-448e-9388-2883bc734193"
              }
            ],
            "timelineText": "Emirhan"
          },
          {
            "contentTypeKey": "1540ded3-7a5c-4847-8bc3-0ed3b6036041",
            "udi": "umb://element/bd7418bd29294499b7985679e90325a9",
            "timelineImage": [
              {
                "key": "2704cc32-f34c-46fc-97bf-9c4e8f5f26c5",
                "mediaKey": "0d69fc00-b386-448e-9388-2883bc734193"
              }
            ],
            "timelineText": "Batuhan"
          }
        ],
        "settingsData": []
      },
      "YearName": "2011"
    },
    {
      "contentTypeKey": "85ee0a89-28aa-4abf-a383-635175c4002a",
      "udi": "umb://element/12f0acaddec14f4aa72a97af094d1fdf",
      "year": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/74f39ebe3a114185803ceddd50fdd350",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1540ded3-7a5c-4847-8bc3-0ed3b6036041",
            "udi": "umb://element/74f39ebe3a114185803ceddd50fdd350",
            "timelineImage": [
              {
                "key": "b0f366aa-8aeb-4ed1-9c73-1a57d8dba2c0",
                "mediaKey": "0d69fc00-b386-448e-9388-2883bc734193"
              }
            ],
            "timelineText": "Murat"
          }
        ],
        "settingsData": []
      },
      "YearName": "2012"
    }
  ],
  "settingsData": []
}]]></Value>
    </timelineDate>
  </Properties>
</Content>