<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d69fc00-b386-448e-9388-2883bc734193" Alias="Qr Code New Transparent" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QrCodeNewTransparent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-07T16:37:58</CreateDate>
    <NodeName Default="Qr Code New Transparent" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a14gsdmg/qr-code-new-transparent.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>